<a href="https://colab.research.google.com/github/lucasjirwin/NYPD-Network-Analysis/blob/main/Combine_Data_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np 

asian_df = pd.read_csv("asian_nyc.csv")
black_df = pd.read_csv("black_nyc.csv")
hispanic_df = pd.read_csv("hispanic_nyc.csv")
white_df = pd.read_csv("white_nyc.csv")
poverty_df = pd.read_csv("poverty_nyc.csv")
unemployment_df = pd.read_csv("unemployment_nyc.csv")
median_income_homeowners_df = pd.read_csv("median_income_homeowners_nyc.csv")
withBA_df = pd.read_csv("withBA_nyc.csv")
withoutHS_df = pd.read_csv("withoutHS_nyc.csv")
elderly_df = pd.read_csv("elderly_nyc.csv")
population_df = pd.read_csv("population_nyc.csv")

In [ ]:
asian_df = asian_df.sort_values(by = "Sub-Borough Area")
black_df = black_df.sort_values(by = "Sub-Borough Area")
hispanic_df = hispanic_df.sort_values(by = "Sub-Borough Area")
white_df = white_df.sort_values(by = "Sub-Borough Area")
poverty_df = poverty_df.sort_values(by = "Sub-Borough Area")
unemployment_df = unemployment_df.sort_values(by = "Sub-Borough Area")
median_income_homeowners_df = median_income_homeowners_df.sort_values(by = "Sub-Borough Area")
withBA_df = withBA_df.sort_values(by = "Sub-Borough Area")
withoutHS_df= withoutHS_df.sort_values(by = "Sub-Borough Area")
elderly_df = elderly_df.sort_values(by = "Sub-Borough Area")
population_df = population_df.sort_values(by = "Sub-Borough Area")

In [ ]:
population_df.head()

   short_name   long_name     Sub-Borough Area  ...    2016    2017    2018
24    pop_num  Population              Astoria  ...  171988  164321  160871
54    pop_num  Population            Bay Ridge  ...  118804  123488  125200
2     pop_num  Population  Bayside/Little Neck  ...  117381  118670  115744
47    pop_num  Population   Bedford Stuyvesant  ...  148237  142027  155117
16    pop_num  Population          Bensonhurst  ...  189426  205850  186850

[5 rows x 18 columns]

In [ ]:
black_df.head()

            short_name      long_name  ...      2017      2018
32  pop_race_black_pct  Percent Black  ...  0.081937  0.082482
9   pop_race_black_pct  Percent Black  ...  0.030594  0.028858
42  pop_race_black_pct  Percent Black  ...  0.024834  0.013098
4   pop_race_black_pct  Percent Black  ...  0.487696  0.460265
10  pop_race_black_pct  Percent Black  ...  0.017838  0.009516

[5 rows x 18 columns]

In [ ]:
features_df = pd.DataFrame(columns = ["neighborhood", "perc_black","perc_asian","perc_hisp","perc_white","poverty_rate"])

In [ ]:
features_df["neighborhood"] = black_df["Sub-Borough Area"]

In [ ]:
features_df["perc_black"] = black_df["2018"]
features_df["perc_asian"] = asian_df["2018"]
features_df["perc_hisp"] = hispanic_df["2018"]

In [ ]:
features_df.tail()

                 neighborhood  perc_black  ...  perc_white  poverty_rate
21            Upper East Side    0.031653  ...         NaN           NaN
20            Upper West Side    0.040874  ...         NaN           NaN
50  Washington Heights/Inwood    0.070398  ...         NaN           NaN
29  Williamsbridge/Baychester    0.617597  ...         NaN           NaN
2     Williamsburg/Greenpoint    0.038982  ...         NaN           NaN

[5 rows x 6 columns]